## Weekly Exercise 1

Perbaiki script berikut sehingga tidak muncul error.

In [ ]:
panjang = 20,5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*/lebar
volum = panjang*lebar*tiggi

print("Panjang = " + 'panjang')
printl("Lebar = ' + lebar)
print('Tinggi = "  tinggi)
printl("Keliling = "  'kelling')
print("Volume = " + volume)

Solusi:

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " + str(panjang))
print("Lebar = " + str(lebar))
print("Tinggi = "  + str(tinggi))
print("Keliling = " + str(keliling))
print("Volume = " + str(volume))

## Weekly Exercise 2

Terdapat data mahasiswa sebagai berikut:

![__q_9cagpe6808.PNG__]()

Berdasarkan data di atas, buatlah sebuah program untuk menampilkan data-data berikut :

1. Rata-rata nilai Shafira pada kedua mata kuliah
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa

Dengan ketentuan gunakan variabel agar memudahkan dalam menampilkan hasil

Solusi 1

In [ ]:
nilai_shafira = 85 + 75
print("Rata-rata nilai Shafira pada kedua mata kuliah: " + str(nilai_shafira / 2))

nilai_hanif = 75 + 90
nilai_andi = 70 + 75
print("Jumlah nilai Hanif dan Andi untuk semua mata kuliah: " + str(nilai_hanif + nilai_andi))

nilai_kalkulus_1 = 85 + 85 + 80 + 95
nilai_metode_statistika = 85 + 85 + 75 + 80
print("Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Kalkulus 1: " + str(nilai_kalkulus_1 / 4))
print("Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Metode Statistika: " + str(nilai_metode_statistika / 4))

total_nilai_kalkulus_1 = 85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80
print("Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa: " + str(total_nilai_kalkulus_1 / 9))

total_nilai_metode_statistika = 75 + 90 + 80 + 80 + 85 + 90 + 75 + 85 + 75
print("Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa: " + str(total_nilai_metode_statistika / 9))

Solusi 2

In [ ]:
# Untuk memudahkan penghitungan, masukan semua nama mahasiswa beserta nilai mata kuliahnya ke dalam sebuah dictionary
data_mahasiswa = {
    "Shafira": {
        "Kalkulus 1": 85,
        "Metode Statistika": 75
    },
    "Amanda": {
        "Kalkulus 1": 80,
        "Metode Statistika": 90
    },
    "Aditya": {
        "Kalkulus 1": 75,
        "Metode Statistika": 80
    },
    "Nedia": {
        "Kalkulus 1": 95,
        "Metode Statistika": 80
    },
    "Widya": {
        "Kalkulus 1": 85,
        "Metode Statistika": 85
    },
    "Hanif": {
        "Kalkulus 1": 75,
        "Metode Statistika": 90
    },
    "Andi": {
        "Kalkulus 1": 70,
        "Metode Statistika": 75
    },
    "Dhanar": {
        "Kalkulus 1": 85,
        "Metode Statistika": 85
    },
    "Hikma": {
        "Kalkulus 1": 80,
        "Metode Statistika": 75
    }
}


# 1. Rata-rata nilai Shafira pada kedua mata kuliah
nilai_shafira_1 = data_mahasiswa["Shafira"]["Kalkulus 1"] # Nilai Shafira pada mata kuliah Kalkulus 1
nilai_shafira_2 = data_mahasiswa["Shafira"]["Metode Statistika"] # Nilai Shafira pada mata kuliah Metode Statistika

# Print rata-rata nilainya dengan menjumlahkan kedua nilai dan membaginya dengan 2
print("Rata-rata nilai Shafira pada kedua mata kuliah: " + str((nilai_shafira_1 + nilai_shafira_2) / 2))


# 2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah
jumlah_nilai = 0

for nama in ["Hanif", "Andi"]: # Gunakan list berisi nama mahasiswa sebagai "key" untuk mengakses dictionary data mahasiswa
  jumlah_nilai = jumlah_nilai + data_mahasiswa[nama]["Kalkulus 1"] + data_mahasiswa[nama]["Metode Statistika"]

print("Jumlah nilai Hanif dan Andi untuk semua mata kuliah: " + str(jumlah_nilai))


# 3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada masing-masing mata kuliah
jumlah_1, jumlah_2 = 0, 0
nilai_1, nilai_2 = 0, 0

# Gunakan loop untuk mencari nilai dari masing-masing mahasiswa
# Gunakan list berisi nama mahasiswa sebagai "key" untuk mengakses dictionary data_mahasiswa
for nama in ["Widya", "Dhanar", "Hikma", "Nedia"]:
  jumlah_1 = jumlah_1 + 1
  jumlah_2 = jumlah_2 + 1
  nilai_1 = nilai_1 + data_mahasiswa[nama]["Kalkulus 1"]
  nilai_2 = nilai_2 + data_mahasiswa[nama]["Metode Statistika"]

nilai_1 = nilai_1 / jumlah_1
nilai_2 = nilai_2 / jumlah_2

print("Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Kalkulus 1: " + str(nilai_1))
print("Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Metode Statistika: " + str(nilai_2))


# 4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa
jumlah_kalkulus_1 = 0
nilai_kalkulus_1 = 0

# Gunakan loop untuk mencari nilai dari masing-masing mahasiswa
for nama, nilai in data_mahasiswa.items():
  jumlah_kalkulus_1 = jumlah_kalkulus_1 + 1
  nilai_kalkulus_1 = nilai_kalkulus_1 + nilai["Kalkulus 1"]

nilai_kalkulus_1 = nilai_kalkulus_1 / jumlah_kalkulus_1

print("Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa: " + str(nilai_kalkulus_1))


# 5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa
jumlah_metode_statistika = 0
nilai_metode_statistika = 0

# Gunakan loop untuk mencari nilai dari masing-masing mahasiswa
for nama, nilai in data_mahasiswa.items():
  jumlah_metode_statistika = jumlah_metode_statistika + 1
  nilai_metode_statistika = nilai_metode_statistika + nilai["Metode Statistika"]

nilai_metode_statistika = nilai_metode_statistika / jumlah_metode_statistika

print("Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa: " + str(nilai_metode_statistika))

## Weekly Exercise 3

Diketahui Dwi adalah seorang karyawan pabrik swasta yang telah bekerja selama 10 tahun. Setiap hari Dwi bekerja selama 8 jam. Prosedur penerimaan honor dari perusahaan ditentukan dengan cara jumlah jam masuk dikali dengan Rp 30.000,-.

Buatlah sebuah program untuk menampilkan data berikut:

1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari, berapa gaji yang diterima oleh Dwi.
2. Apabila terdapat tunjangan bagi karyawan yang bekerja lebih dari 5 tahun sebesar 10% dari total gaji yang diterima setiap bulan, tentukan jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus.
3. Apabila pada bulan Agustus Dwi mendapatkan tugas lembur selama 5 jam, tentukan gaji total yang diterima oleh Dwi pada bulan Agustus. (upah lembur : Rp 10.000,- per jam)

Solusi 1

In [ ]:
gaji_bulan_agustus = (31 - 3) * 8 * 30000
tunjangan = gaji_bulan_agustus * 0.1
gaji_total = gaji_bulan_agustus + tunjangan + 5 * 10000

print("Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp " + str(gaji_bulan_agustus) + ",-")
print("Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus: Rp " + str(int(tunjangan)) + ",-")
print("Gaji total yang diterima oleh Dwi pada bulan Agustus: Rp " + str(int(gaji_total)) + ",-")

Solusi 2

In [ ]:
gaji_bulan_agustus = (31 - 3) * 8 * 30000
tunjangan = gaji_bulan_agustus * 0.1
gaji_total = gaji_bulan_agustus + tunjangan + 5 * 10000

gaji_bulan_agustus = "{:,.2f}".format(gaji_bulan_agustus)
gaji_bulan_agustus = gaji_bulan_agustus.replace(",", "|")
gaji_bulan_agustus = gaji_bulan_agustus.replace(".", ",")
gaji_bulan_agustus = gaji_bulan_agustus.replace("|", ".")

tunjangan = "{:,.2f}".format(tunjangan)
tunjangan = tunjangan.replace(",", "|")
tunjangan = tunjangan.replace(".", ",")
tunjangan = tunjangan.replace("|", ".")

gaji_total = "{:,.2f}".format(gaji_total)
gaji_total = gaji_total.replace(",", "|")
gaji_total = gaji_total.replace(".", ",")
gaji_total = gaji_total.replace("|", ".")

print("Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp " + gaji_bulan_agustus)
print("Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus: Rp " + tunjangan)
print("Gaji total yang diterima oleh Dwi pada bulan Agustus: Rp " + gaji_total)

Solusi 3

In [ ]:
gaji_bulan_agustus = (31 - 3) * 8 * 30000
tunjangan = gaji_bulan_agustus * 0.1
gaji_total = gaji_bulan_agustus + tunjangan + 5 * 10000

def format_rupiah(n):
  # {:,.2f} adalah format string untuk menambahkan koma (,) dalam setiap 3 digit dan 2 angka desimal yang diawali dengan titik (.)
  # Karena kita akan menggunakan titik (.) dalam setiap 3 digit dan koma (,) untuk desimal, maka tanda tersebut harus dibalik
  hasil = "{:,.2f}".format(n)
  hasil = hasil.replace(",", "|") # Untuk sementara, ganti koma (,) dengan "|"
  hasil = hasil.replace(".", ",") # Ubah titik (.) dengan koma (,)
  hasil = hasil.replace("|", ".") # Terakhir, ubah "|" dengan titik (.)
  return "Rp " + hasil


print("Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: " + format_rupiah(gaji_bulan_agustus))
print("Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus: " + format_rupiah(tunjangan))
print("Gaji total yang diterima oleh Dwi pada bulan Agustus: " + format_rupiah(gaji_total))